$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$font-size-base: 0.8rem;
$line-height-base: 1;

$body-color: #8c8c8c;
$body-bg: #3c3c3c;

$card-bg: rgba(0,0,0,0.05);
$card-cap-bg: rgba(0,0,0,0.05);
